.header {
  width: 100%;
  height: 92px;
  border-bottom: 1px solid #d0d5dd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.headerNavigation {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
