.resetPasswd {
  &Header {
    width: 415px;
    display: flex;
    flex-direction: column;
  }

  &Field {
    margin: 24px 0;
  }

  &Form {
    display: flex;
    flex-direction: column;
    max-width: 415px;
    width: 100%;
  }

  &Link {
    text-align: center;
    font-weight: 600;
    font-size: rem(14px);
    line-height: 40px;
    color: var(--primary-400);
    text-decoration: none;
  }
}
