.seeEverything {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 155px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 22px;
  color: #0241ae;
  height: 22px;
}
