.seeEverything {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 155px;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 22px;
  color: var(--primary-500);
  height: 22px;
}
