.authHeading {
  &Header {
    width: 415px;
    display: flex;
    flex-direction: column;
  }

  &Title {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    margin: 0;
    margin-bottom: 4px;
  }

  &Subitle {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-300);
    margin: 0;
    margin-bottom: 16px;
  }

  &ASSISTLogo {
    width: 101px;
    float: left;
    margin-bottom: 32px;
  }
}
