.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-200);
  height: 9vh;
}

.inputLeng {
  width: 30vw !important;
}

.headerProfileDropdown {
  border: none !important;
}

.headerDropdownAndIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
