$rem-base: 16px !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($value, $base-value: $rem-base) {
  $value: calc(strip-unit($value) / strip-unit($base-value) * 1rem);
  @if ($value == 0rem) {
    $value: 0;
  }
  @return $value;
}

@function height($font-size, $line-height) {
  @return strip-unit(calc($line-height / $font-size));
}
