@import 'styles/variables.scss';
@import 'styles/convert.scss';

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: rem(32px);
  line-height: height(32px, 40px);
  color: var(--black);
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: rem(16px);
  line-height: height(16px, 24px);
  color: var(--black);
}

p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: rem(12px);
  line-height: height(12px, 20px);
  color: var(--black);
}
