@import 'styles/variables.scss';

.loginPage {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  max-width: 1920px;
  margin: 0;

  &Header {
    width: 415px;
    display: flex;
    flex-direction: column;
  }

  &ASSISTLogo {
    width: 101px;
    float: left;
    margin-bottom: 32px;
  }

  &Title {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: $black;
    margin: 0;
    margin-bottom: 4px;
  }

  &Subitle {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: $gray-300;
    margin: 0;
    margin-bottom: 16px;
  }

  &SignWithGoogle {
    margin-bottom: 35px;
    width: 415px;
  }

  &Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Cover {
    height: 100vh;
    width: 100%;
  }

  &Divider {
    font-weight: 600;
    font-size: 12px;
    color: #6c6c6c;
    width: 415px;
    display: flex;
    justify-content: space-between;
  }

  &DividerLine {
    border-color: $gray-200;
    width: 45%;
    height: 1px;
  }
}
