@import 'styles/convert.scss';

.editNameContent {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.editNameForm {
  width: 100%;
  display: flex;
  gap: rem(20px);
}

.editNameInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(4px);
}
