@import 'styles/convert.scss';

.profileContent {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.buttonStyle {
  width: rem(117px);
}

.profileLabel {
  width: calc(50% - rem(20px));
  display: flex;
  flex-direction: column;
  gap: rem(4px);
}
