@import 'styles/convert.scss';

.profileLabel {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.profileLabelChildren {
  width: calc(50% - rem(20px));
  display: flex;
  flex-direction: column;
  gap: rem(4px);
}
