@import 'styles/variables.scss';

.button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  &Primary {
    background-color: $primary-400;
    color: $white;
  }
  &Secondary {
    color: $primary-400;
    border: 1px solid $primary-400;
  }
  &Delete {
    background-color: $alert-500;
    color: $white;
  }
  &Custom {
    color: unset;
  }
}
