.detailsContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray-100);
}

.leftContainer {
  margin-right: 20%;
}

.addTitleContainer {
  margin-bottom: 1.25rem;
}

.rightTitleContainer {
  display: flex;
  flex-direction: column;
}

.titleInput {
  width: 245%;
}

.subtitleStyle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-400);
}

.formsTitleStyles {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-600);
}

.selectCategoryContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.pDropdown {
  width: 245% !important;
}

.addPriceContainer {
  display: flex;
  flex-direction: column;
}

.priceInput {
  width: 60%;
  margin-right: 2% !important;
  margin-bottom: 5% !important;
}

@media screen and (max-width: 450px) {
  .titleInput,
  .pDropdown {
    width: 90% !important;
  }
  .priceInput {
    width: 60% !important;
  }
  .detailsContainer {
    width: 90% !important;

    margin-left: 20px;
  }
  .leftContainer {
    margin-right: 5%;
  }
}
