@import 'styles/convert.scss';

.stepper {
  display: flex;
  flex-direction: column;
  gap: rem(30px);
  width: rem(165px);
}

.stepperCategory {
  display: flex;
  align-items: center;
  gap: rem(12px);
  cursor: pointer;
}

.stepperCategoryLogout {
  @extend .stepperCategory;
  border-top: 1px solid var(--gray-200);
  padding: rem(10px) 0 0 0;
}

.stepperActiveText {
  color: var(--primary-400);
}
