@import 'styles/convert.scss';

.pageUserAvatar {
  margin: 0 auto;
  width: rem(112px);
  height: rem(112px);
  position: relative;
}

.userPhoto {
  width: rem(112px);
  height: rem(112px);
  border-radius: 50%;
}

.changeAvatar {
  position: absolute;
  right: rem(-10px);
  bottom: rem(-20px);
}

.inputUploadProfilePhoto {
  width: rem(32px);
  height: rem(32px);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.inputUploadProfilePhoto::-webkit-file-upload-button {
  visibility: hidden;
}
