.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1c1c1e;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1e;
}

p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1c1c1e;
}
