.imageContainer {
  display: flex;
  margin-top: 7vh;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}

.firstContainerPhoto {
  img {
    width: 100%;
    height: 43vh;
  }
}

.secondContainerPhoto {
  width: 50%;
  flex-wrap: wrap;
  img {
    width: 40%;
    height: 20vh;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.listingHeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleStyle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--gray-600);
}

.priceStyle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.descriptionContainer {
  width: 65%;
  margin-right: 5%;
  margin-top: 20px;
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
}

.sellerContainer {
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  display: flex;
  width: 100%;
}

.sellerContainerWithButton {
  width: 30%;
}

.lsitingDescriptionContainer {
  display: flex;
  width: 95%;
  margin: 2% 0 2% 0;
  justify-content: space-between;
}

.listingGoogleMapsContainer {
  margin: 2% 0 2% 0;
}

.line {
  border-bottom: 1px solid var(--gray-100);
  margin-bottom: 2%;
  width: 50%;
}

.space {
  margin: 1% 0 1% 0;
}

.purchaseButton {
  margin-top: 10px !important;
  width: 80% !important;
  height: 44px !important;
  background-color: var(--primary-400) !important;
  text-transform: none !important;
  font-weight: 600 !important;
  border: 1px solid var(--primary-500) !important;
  margin-right: 10px !important;
  justify-content: center !important;
}

.spacingButton {
  width: 50%;
  text-align: right;
  margin-bottom: 20px;
}

.messageTextArea {
  width: 55%;
  height: 15vh !important;
}

.descriptionStyle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-400);
}

.image2 {
  border-top-right-radius: 12px;
}

.image4 {
  border-bottom-right-radius: 12px;
}

.principalImage {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.shareButtonContainer {
  display: flex;
}

.shareButtonStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--primary-500);
  cursor: pointer;
  margin-right: 7.25rem;
}

.showAllPhotoContainer {
  position: absolute;
  top: 54%;
  right: 19%;
  .p-button-outlined {
    border-radius: 12px !important;
  }
}

.showAllPhotoStyle {
  background-color: var(--secondary) !important;
  border: 1px solid var(--primary-500) !important;
  color: var(--primary-500) !important;
  height: 4vh !important;
  border-radius: 12px !important;
}

@media screen and (max-width: 1292px) {
  .imageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .secondContainerPhoto {
    display: none !important;
  }
  .firstContainerPhoto {
    img {
      border-radius: 12px;
    }
  }
  .lsitingDescriptionContainer {
    flex-direction: column;
  }
  .descriptionContainer {
    width: 100%;
    overflow-y: scroll !important;
    height: 25vh;
  }
  .purchaseButton {
    width: 50% !important;
  }
}

@media screen and (max-width: 700px) {
  .imageContainer,
  .listingHeaderContainer,
  .descriptionContainer {
    display: flex;
    justify-content: center;
  }
}
