.settingsPage {
  display: flex;
  width: 683px;
  padding-left: 422px;
  padding-top: 32px;

  &NavBar {
    display: flex;
    flex-direction: column;
  }

  &Icon {
    width: 20px;
    height: 20px;
  }

  &Tab {
    margin: 13px 0;
    color: var(--gray-500);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
  }
}
